interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://poloniex.com/public?command=return24hVolume
  response:
    body:
      string: '{"BTC_BTS":{"BTC":"0.34962386","BTS":"145174.81021077"},"BTC_DASH":{"BTC":"0.56011019","DASH":"71.99309823"},"BTC_DOGE":{"BTC":"1.47418830","DOGE":"5656688.26948869"},"BTC_LTC":{"BTC":"10.76857874","LTC":"2283.23690215"},"BTC_NXT":{"BTC":"0.56849185","NXT":"479718.63309576"},"BTC_STR":{"BTC":"3.18035355","STR":"414291.88712479"},"BTC_XEM":{"BTC":"1.00762761","XEM":"213000.08222628"},"BTC_XMR":{"BTC":"4.26056201","XMR":"609.51933632"},"BTC_XRP":{"BTC":"31.57980903","XRP":"1552685.74535673"},"USDT_BTC":{"USDT":"5679497.89850725","BTC":"604.83487011"},"USDT_DASH":{"USDT":"10040.33845897","DASH":"137.29553919"},"USDT_LTC":{"USDT":"52207.29993644","LTC":"1176.39860272"},"USDT_NXT":{"USDT":"531.15139485","NXT":"48255.53416782"},"USDT_STR":{"USDT":"21012.90232764","STR":"292478.20971284"},"USDT_XMR":{"USDT":"9855.53969825","XMR":"150.01471230"},"USDT_XRP":{"USDT":"140812.27163230","XRP":"738007.71987525"},"BTC_ETH":{"BTC":"170.17670501","ETH":"6814.74525120"},"USDT_ETH":{"USDT":"1855096.35245358","ETH":"7906.00091637"},"BTC_SC":{"BTC":"8.56882703","SC":"26021481.26984639"},"BTC_DCR":{"BTC":"0.41371797","DCR":"238.17576268"},"BTC_LSK":{"BTC":"0.07775149","LSK":"597.50051754"},"BTC_STEEM":{"BTC":"1.21250930","STEEM":"55746.64938381"},"BTC_ETC":{"BTC":"1.75755769","ETC":"2598.10193252"},"ETH_ETC":{"ETH":"86.51804397","ETC":"3185.22078034"},"USDT_ETC":{"USDT":"23344.97451499","ETC":"3663.39325437"},"BTC_REP":{"BTC":"1.60129993","REP":"933.87665260"},"USDT_REP":{"USDT":"29101.23393918","REP":"1814.23848291"},"ETH_REP":{"ETH":"3.11963314","REP":"45.83523523"},"BTC_ARDR":{"BTC":"0.27691739","ARDR":"46647.17456729"},"BTC_ZEC":{"BTC":"0.74859561","ZEC":"136.78699348"},"ETH_ZEC":{"ETH":"6.27799215","ZEC":"28.65947026"},"USDT_ZEC":{"USDT":"6542.59465484","ZEC":"127.41559276"},"BTC_STRAT":{"BTC":"0.31797438","STRAT":"7587.31177364"},"BTC_GNT":{"BTC":"0.48596131","GNT":"82383.65696973"},"BTC_ZRX":{"BTC":"1.37619896","ZRX":"35484.33779820"},"ETH_ZRX":{"ETH":"6.67759571","ZRX":"4295.06219778"},"BTC_CVC":{"BTC":"1.25401768","CVC":"379176.79178071"},"BTC_OMG":{"BTC":"0.49018435","OMG":"2925.15604477"},"BTC_GAS":{"BTC":"0.41990202","GAS":"2260.13473417"},"BTC_STORJ":{"BTC":"0.34277519","STORJ":"20870.47640914"},"BTC_EOS":{"BTC":"0.39960871","EOS":"1463.17313473"},"ETH_EOS":{"ETH":"0.10460792","EOS":"9.56184638"},"USDT_EOS":{"USDT":"16854.50143990","EOS":"6556.17235385"},"BTC_SNT":{"BTC":"1.35865288","SNT":"505508.63269260"},"BTC_KNC":{"BTC":"3.25888471","KNC":"26775.01356814"},"BTC_BAT":{"BTC":"0.68330698","BAT":"28363.03246640"},"ETH_BAT":{"ETH":"23.60802564","BAT":"23917.88241836"},"USDT_BAT":{"USDT":"2826.50661522","BAT":"12267.76535488"},"BTC_LOOM":{"BTC":"0.20882754","LOOM":"95679.03392758"},"USDT_DOGE":{"USDT":"1046.04886739","DOGE":"419074.44875478"},"USDT_GNT":{"USDT":"376.53766883","GNT":"6658.61792107"},"USDT_LSK":{"USDT":"1891.74922014","LSK":"1618.55396645"},"USDT_SC":{"USDT":"31733.25513170","SC":"10012971.31803881"},"USDT_ZRX":{"USDT":"17265.54195567","ZRX":"46827.66166037"},"BTC_QTUM":{"BTC":"0.22851928","QTUM":"1228.66035620"},"USDT_QTUM":{"USDT":"7227.45094053","QTUM":"4162.81078912"},"USDC_BTC":{"USDC":"1134351.63658428","BTC":"120.96661518"},"USDC_ETH":{"USDC":"266196.41522358","ETH":"1134.66509480"},"USDC_USDT":{"USDC":"15476.73076278","USDT":"15483.52813610"},"BTC_MANA":{"BTC":"0.15751625","MANA":"35069.44303830"},"USDT_MANA":{"USDT":"9.15640983","MANA":"212.17070100"},"BTC_BNT":{"BTC":"0.91015284","BNT":"10242.81673331"},"BTC_BCHABC":{"BTC":"6.71641595","BCHABC":"265.32162654"},"USDC_BCHABC":{"USDC":"1320.53321333","BCHABC":"5.55410146"},"BTC_BCHSV":{"BTC":"2.18443188","BCHSV":"113.94238232"},"USDC_BCHSV":{"USDC":"36532.99972072","BCHSV":"203.85461944"},"USDC_XRP":{"USDC":"1947.57926482","XRP":"10202.38978870"},"USDC_XMR":{"USDC":"985.31733977","XMR":"15.05943850"},"USDC_STR":{"USDC":"2137.52362775","STR":"29798.29692512"},"USDC_DOGE":{"USDC":"3.55132655","DOGE":"1399.55691596"},"USDC_LTC":{"USDC":"10738.69171842","LTC":"240.77674469"},"USDC_ZEC":{"USDC":"8809.22141041","ZEC":"172.73320320"},"BTC_FOAM":{"BTC":"1.03636442","FOAM":"641699.52443078"},"BTC_NMR":{"BTC":"0.02144749","NMR":"7.87887427"},"BTC_POLY":{"BTC":"0.28474417","POLY":"55081.07200149"},"BTC_LPT":{"BTC":"2.41908410","LPT":"6247.43194240"},"BTC_GRIN":{"BTC":"0.00000000","GRIN":"0.00000000"},"USDC_GRIN":{"USDC":"246.50859512","GRIN":"503.17270882"},"BTC_ATOM":{"BTC":"1.72203726","ATOM":"5757.44019849"},"USDC_ATOM":{"USDC":"1786.84637447","ATOM":"635.83364459"},"USDT_ATOM":{"USDT":"12792.14952087","ATOM":"4558.98566414"},"USDC_DASH":{"USDC":"593.29077469","DASH":"8.13390993"},"USDC_EOS":{"USDC":"403.95988608","EOS":"157.87043211"},"USDC_ETC":{"USDC":"363.68595817","ETC":"57.11661200"},"USDT_BCHSV":{"USDT":"15924.22441243","BCHSV":"88.53767442"},"USDT_BCHABC":{"USDT":"16170.99155241","BCHABC":"67.85403240"},"USDT_GRIN":{"USDT":"2672.91525864","GRIN":"5445.03515198"},"BTC_TRX":{"BTC":"2.85885723","TRX":"1645645.30748244"},"USDC_TRX":{"USDC":"2096.05638400","TRX":"127742.49710539"},"USDT_TRX":{"USDT":"789670.99265656","TRX":"48235118.25192166"},"BTC_ETHBNT":{"BTC":"0.00489169","ETHBNT":"70.92074235"},"TRX_ETH":{"TRX":"453564.75526790","ETH":"31.54124959"},"TRX_XRP":{"TRX":"216078.04198650","XRP":"18497.57347101"},"USDT_BTT":{"USDT":"137682.86568510","BTT":"448848378.44690495"},"TRX_BTT":{"TRX":"301981.23639969","BTT":"16018724.33499309"},"USDT_WIN":{"USDT":"657.68015919","WIN":"8339465.43259350"},"TRX_WIN":{"TRX":"2724.64142397","WIN":"550969.37372337"},"TRX_STEEM":{"TRX":"123326.53464175","STEEM":"9679.57278994"},"BTC_LINK":{"BTC":"1.56753968","LINK":"3636.68557401"},"TRX_LINK":{"TRX":"4093.07653295","LINK":"16.42420698"},"BTC_XTZ":{"BTC":"0.17021408","XTZ":"606.94797867"},"USDT_XTZ":{"USDT":"11798.46372986","XTZ":"4480.78844376"},"TRX_XTZ":{"TRX":"5556.38073474","XTZ":"34.12061415"},"USDT_BEAR":{"USDT":"189358.21568511","BEAR":"111465.83115823"},"USDT_BULL":{"USDT":"317867.84620560","BULL":"110.68992845"},"USDT_TRXBEAR":{"USDT":"32752.51213550","TRXBEAR":"6567.84172143"},"USDT_TRXBULL":{"USDT":"45336.73247439","TRXBULL":"20549.68906869"},"PAX_BTC":{"PAX":"116.61517414","BTC":"0.01247160"},"PAX_ETH":{"PAX":"191.35990471","ETH":"0.81213000"},"USDT_PAX":{"USDT":"94.90882249","PAX":"94.91157024"},"USDT_USDJ":{"USDT":"23136.04199006","USDJ":"23134.90958272"},"USDJ_BTC":{"USDJ":"12656.94469654","BTC":"1.34501813"},"USDJ_TRX":{"USDJ":"9082.64784121","TRX":"554632.05102316"},"BTC_SNX":{"BTC":"1.48427191","SNX":"12152.45431504"},"USDT_SNX":{"USDT":"27834.12165907","SNX":"24434.85296128"},"TRX_SNX":{"TRX":"23328.46873678","SNX":"338.86117108"},"USDT_BSVBEAR":{"USDT":"23245.90214823","BSVBEAR":"36434.43417440"},"USDT_BSVBULL":{"USDT":"43947.84477457","BSVBULL":"38233.01792391"},"BTC_MATIC":{"BTC":"0.56090950","MATIC":"251062.55858501"},"USDT_MATIC":{"USDT":"403.54140652","MATIC":"19367.29444475"},"TRX_MATIC":{"TRX":"354.44760487","MATIC":"267.65742559"},"USDT_BCHBEAR":{"USDT":"5462.93073328","BCHBEAR":"100.00135090"},"USDT_BCHBULL":{"USDT":"20939.04510697","BCHBULL":"2590.72911939"},"USDT_ETHBEAR":{"USDT":"70609.83824199","ETHBEAR":"77806.41832951"},"USDT_ETHBULL":{"USDT":"130809.15046354","ETHBULL":"524.89552611"},"BTC_MKR":{"BTC":"0.47420747","MKR":"8.52147503"},"USDT_MKR":{"USDT":"7795.78880930","MKR":"15.16733375"},"USDT_BVOL":{"USDT":"54.14884741","BVOL":"0.00804239"},"USDT_IBVOL":{"USDT":"5.50274723","IBVOL":"0.00153533"},"DAI_BTC":{"DAI":"3314.03027472","BTC":"0.35514311"},"DAI_ETH":{"DAI":"2302.48446308","ETH":"9.87477056"},"USDT_DAI":{"USDT":"12119.23894399","DAI":"12076.07106444"},"BTC_NEO":{"BTC":"0.06074477","NEO":"53.08677653"},"USDT_NEO":{"USDT":"1888.89925159","NEO":"172.02950991"},"TRX_NEO":{"TRX":"0.00000000","NEO":"0.00000000"},"BTC_SWFTC":{"BTC":"0.01795370","SWFTC":"169633.79161409"},"USDT_SWFTC":{"USDT":"1.99998150","SWFTC":"1849.67676899"},"TRX_SWFTC":{"TRX":"0.00000000","SWFTC":"0.00000000"},"USDT_JST":{"USDT":"14192.44770355","JST":"2431190.37859907"},"TRX_JST":{"TRX":"550606.31452667","JST":"1538826.51102938"},"BTC_FXC":{"BTC":"3.01291811","FXC":"10039756.73474462"},"USDT_FXC":{"USDT":"96.66370312","FXC":"34275.28100927"},"TRX_FXC":{"TRX":"1014.99740000","FXC":"5000.00000000"},"USDT_BCN":{"USDT":"8050.94955541","BCN":"37768524.37506406"},"USDT_STEEM":{"USDT":"1008.51807588","STEEM":"4936.90117597"},"USDT_LINK":{"USDT":"1621.20005297","LINK":"405.59791960"},"USDJ_BTT":{"USDJ":"5730.00928441","BTT":"18680523.48807509"},"BTC_AVA":{"BTC":"2.80077281","AVA":"76134.38903647"},"USDT_AVA":{"USDT":"40903.11896636","AVA":"118778.87176998"},"TRX_AVA":{"TRX":"562720.84331194","AVA":"26809.13853591"},"USDT_XRPBULL":{"USDT":"7551.11379324","XRPBULL":"815.34814842"},"USDT_XRPBEAR":{"USDT":"627.37538266","XRPBEAR":"2.74803717"},"USDT_EOSBULL":{"USDT":"8246.07621594","EOSBULL":"2371.60628063"},"USDT_EOSBEAR":{"USDT":"2028.76138064","EOSBEAR":"234.36353651"},"USDT_LINKBULL":{"USDT":"7558.46604171","LINKBULL":"11.92243252"},"USDT_LINKBEAR":{"USDT":"21771.24671491","LINKBEAR":"3607.95138132"},"BTC_CHR":{"BTC":"2.15512872","CHR":"587277.91765500"},"USDT_CHR":{"USDT":"27341.59456086","CHR":"794328.37328514"},"TRX_CHR":{"TRX":"422578.61581545","CHR":"200798.18415934"},"BNB_BTC":{"BNB":"0.63882619","BTC":"0.00112654"},"USDT_BNB":{"USDT":"136982.20130415","BNB":"8207.19720768"},"USDT_BUSD":{"USDT":"856072.03933035","BUSD":"855555.34957338"},"TRX_BNB":{"TRX":"48660.92033465","BNB":"47.69406668"},"BUSD_BNB":{"BUSD":"260788.52174491","BNB":"15666.77551929"},"BUSD_BTC":{"BUSD":"1419.52212700","BTC":"0.15140022"},"BTC_MDT":{"BTC":"1.50162211","MDT":"1516622.00547429"},"USDT_MDT":{"USDT":"85176.91004132","MDT":"9141248.05130114"},"TRX_MDT":{"TRX":"103.90776439","MDT":"162.80279334"},"USDT_BCHC":{"USDT":"7499.43348533","BCHC":"142490.92655846"},"totalBNB":"0.63882619","totalBTC":"281.53026669","totalBUSD":"262208.04387191","totalDAI":"5616.51473780","totalETH":"126.30589853","totalPAX":"307.97507885","totalTRX":"2716693.18248225","totalUSDC":"1483990.54816494","totalUSDJ":"27469.60182216","totalUSDT":"11075035.91547930","totalXMR":"0.00000000","totalXUSD":"0.00000000"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
