interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://poloniex.com/public?command=returnTicker
  response:
    body:
      string: '{"BTC_BTS":{"id":14,"last":"0.00000240","lowestAsk":"0.00000241","highestBid":"0.00000239","percentChange":"0.04347826","baseVolume":"0.34962386","quoteVolume":"145174.81021077","isFrozen":"0","high24hr":"0.00000246","low24hr":"0.00000230"},"BTC_DASH":{"id":24,"last":"0.00775850","lowestAsk":"0.00776380","highestBid":"0.00775646","percentChange":"-0.00785303","baseVolume":"0.56011019","quoteVolume":"71.99309823","isFrozen":"0","high24hr":"0.00785524","low24hr":"0.00773650"},"BTC_DOGE":{"id":27,"last":"0.00000026","lowestAsk":"0.00000027","highestBid":"0.00000026","percentChange":"0.00000000","baseVolume":"1.47418830","quoteVolume":"5656688.26948869","isFrozen":"0","high24hr":"0.00000027","low24hr":"0.00000026"},"BTC_LTC":{"id":50,"last":"0.00469156","lowestAsk":"0.00469507","highestBid":"0.00469156","percentChange":"-0.01174973","baseVolume":"10.76857874","quoteVolume":"2283.23690215","isFrozen":"0","high24hr":"0.00475194","low24hr":"0.00469133"},"BTC_NXT":{"id":69,"last":"0.00000118","lowestAsk":"0.00000119","highestBid":"0.00000118","percentChange":"-0.00840336","baseVolume":"0.56849185","quoteVolume":"479718.63309576","isFrozen":"0","high24hr":"0.00000121","low24hr":"0.00000117"},"BTC_STR":{"id":89,"last":"0.00000754","lowestAsk":"0.00000754","highestBid":"0.00000752","percentChange":"-0.03580562","baseVolume":"3.18035355","quoteVolume":"414291.88712479","isFrozen":"0","high24hr":"0.00000782","low24hr":"0.00000752"},"BTC_XEM":{"id":112,"last":"0.00000467","lowestAsk":"0.00000468","highestBid":"0.00000464","percentChange":"-0.02096436","baseVolume":"1.00762761","quoteVolume":"213000.08222628","isFrozen":"0","high24hr":"0.00000484","low24hr":"0.00000461"},"BTC_XMR":{"id":114,"last":"0.00701664","lowestAsk":"0.00702001","highestBid":"0.00701664","percentChange":"-0.00012397","baseVolume":"4.26056201","quoteVolume":"609.51933632","isFrozen":"0","high24hr":"0.00702980","low24hr":"0.00690500"},"BTC_XRP":{"id":117,"last":"0.00002032","lowestAsk":"0.00002033","highestBid":"0.00002032","percentChange":"0.00049236","baseVolume":"31.57980903","quoteVolume":"1552685.74535673","isFrozen":"0","high24hr":"0.00002046","low24hr":"0.00002020"},"USDT_BTC":{"id":121,"last":"9348.13158982","lowestAsk":"9351.58752652","highestBid":"9348.13158982","percentChange":"-0.01127292","baseVolume":"5679497.89850725","quoteVolume":"604.83487011","isFrozen":"0","high24hr":"9468.80655346","low24hr":"9236.55677649"},"USDT_DASH":{"id":122,"last":"72.98439308","lowestAsk":"72.52991771","highestBid":"72.40942761","percentChange":"-0.01234532","baseVolume":"10040.33845897","quoteVolume":"137.29553919","isFrozen":"0","high24hr":"74.15000000","low24hr":"72.03805511"},"USDT_LTC":{"id":123,"last":"43.84601116","lowestAsk":"43.90309298","highestBid":"43.88516377","percentChange":"-0.02215101","baseVolume":"52207.29993644","quoteVolume":"1176.39860272","isFrozen":"0","high24hr":"44.88689896","low24hr":"43.68257174"},"USDT_NXT":{"id":124,"last":"0.01105674","lowestAsk":"0.01119928","highestBid":"0.01097208","percentChange":"0.00492613","baseVolume":"531.15139485","quoteVolume":"48255.53416782","isFrozen":"0","high24hr":"0.01123725","low24hr":"0.01090303"},"USDT_STR":{"id":125,"last":"0.07032368","lowestAsk":"0.07057559","highestBid":"0.07033150","percentChange":"-0.04742148","baseVolume":"21012.90232764","quoteVolume":"292478.20971284","isFrozen":"0","high24hr":"0.07382455","low24hr":"0.07032368"},"USDT_XMR":{"id":126,"last":"65.60848059","lowestAsk":"65.72816723","highestBid":"65.56052501","percentChange":"-0.00865451","baseVolume":"9855.53969825","quoteVolume":"150.01471230","isFrozen":"0","high24hr":"66.27072299","low24hr":"64.63753832"},"USDT_XRP":{"id":127,"last":"0.18998158","lowestAsk":"0.18998159","highestBid":"0.18998158","percentChange":"-0.01092286","baseVolume":"140812.27163230","quoteVolume":"738007.71987525","isFrozen":"0","high24hr":"0.19219020","low24hr":"0.18880000"},"BTC_ETH":{"id":148,"last":"0.02478148","lowestAsk":"0.02478195","highestBid":"0.02478194","percentChange":"-0.01452083","baseVolume":"170.17670501","quoteVolume":"6814.74525120","isFrozen":"0","high24hr":"0.02521426","low24hr":"0.02471524"},"USDT_ETH":{"id":149,"last":"231.76452890","lowestAsk":"231.76452891","highestBid":"231.69100001","percentChange":"-0.02463679","baseVolume":"1855096.35245358","quoteVolume":"7906.00091637","isFrozen":"0","high24hr":"238.51367341","low24hr":"230.00000000"},"BTC_SC":{"id":150,"last":"0.00000033","lowestAsk":"0.00000033","highestBid":"0.00000032","percentChange":"0.00000000","baseVolume":"8.56882703","quoteVolume":"26021481.26984639","isFrozen":"0","high24hr":"0.00000035","low24hr":"0.00000031"},"BTC_DCR":{"id":162,"last":"0.00172452","lowestAsk":"0.00171812","highestBid":"0.00171480","percentChange":"-0.03515260","baseVolume":"0.41371797","quoteVolume":"238.17576268","isFrozen":"0","high24hr":"0.00178432","low24hr":"0.00171497"},"BTC_LSK":{"id":163,"last":"0.00012816","lowestAsk":"0.00012851","highestBid":"0.00012815","percentChange":"-0.02153000","baseVolume":"0.07775149","quoteVolume":"597.50051754","isFrozen":"0","high24hr":"0.00013248","low24hr":"0.00012611"},"BTC_STEEM":{"id":168,"last":"0.00002199","lowestAsk":"0.00002202","highestBid":"0.00002178","percentChange":"0.00594693","baseVolume":"1.21250930","quoteVolume":"55746.64938381","isFrozen":"0","high24hr":"0.00002228","low24hr":"0.00002045"},"BTC_ETC":{"id":171,"last":"0.00067495","lowestAsk":"0.00067495","highestBid":"0.00067362","percentChange":"-0.01560562","baseVolume":"1.75755769","quoteVolume":"2598.10193252","isFrozen":"0","high24hr":"0.00068648","low24hr":"0.00067385"},"ETH_ETC":{"id":172,"last":"0.02726376","lowestAsk":"0.02728335","highestBid":"0.02726376","percentChange":"0.00307835","baseVolume":"86.51804397","quoteVolume":"3185.22078034","isFrozen":"0","high24hr":"0.02730070","low24hr":"0.02696948"},"USDT_ETC":{"id":173,"last":"6.30951822","lowestAsk":"6.31275592","highestBid":"6.29577371","percentChange":"-0.02710864","baseVolume":"23344.97451499","quoteVolume":"3663.39325437","isFrozen":"0","high24hr":"6.48648013","low24hr":"6.26913394"},"BTC_REP":{"id":174,"last":"0.00166163","lowestAsk":"0.00165938","highestBid":"0.00164618","percentChange":"-0.06393370","baseVolume":"1.60129993","quoteVolume":"933.87665260","isFrozen":"0","high24hr":"0.00178403","low24hr":"0.00164519"},"USDT_REP":{"id":175,"last":"15.53957473","lowestAsk":"15.52458735","highestBid":"15.38378761","percentChange":"-0.08429141","baseVolume":"29101.23393918","quoteVolume":"1814.23848291","isFrozen":"0","high24hr":"17.00000000","low24hr":"15.36000000"},"ETH_REP":{"id":176,"last":"0.06727784","lowestAsk":"0.06725702","highestBid":"0.06640411","percentChange":"0.00246228","baseVolume":"3.11963314","quoteVolume":"45.83523523","isFrozen":"0","high24hr":"0.07029825","low24hr":"0.06680296"},"BTC_ARDR":{"id":177,"last":"0.00000561","lowestAsk":"0.00000572","highestBid":"0.00000559","percentChange":"-0.03608247","baseVolume":"0.27691739","quoteVolume":"46647.17456729","isFrozen":"0","high24hr":"0.00000610","low24hr":"0.00000558"},"BTC_ZEC":{"id":178,"last":"0.00543739","lowestAsk":"0.00544750","highestBid":"0.00543947","percentChange":"-0.01856063","baseVolume":"0.74859561","quoteVolume":"136.78699348","isFrozen":"0","high24hr":"0.00554503","low24hr":"0.00541667"},"ETH_ZEC":{"id":179,"last":"0.22002165","lowestAsk":"0.22026005","highestBid":"0.21932009","percentChange":"-0.00216938","baseVolume":"6.27799215","quoteVolume":"28.65947026","isFrozen":"0","high24hr":"0.22075000","low24hr":"0.21625000"},"USDT_ZEC":{"id":180,"last":"51.17653600","lowestAsk":"50.94916475","highestBid":"50.85758164","percentChange":"-0.02394011","baseVolume":"6542.59465484","quoteVolume":"127.41559276","isFrozen":"0","high24hr":"52.18742126","low24hr":"50.63740266"},"BTC_STRAT":{"id":182,"last":"0.00004003","lowestAsk":"0.00004007","highestBid":"0.00003967","percentChange":"-0.03495660","baseVolume":"0.31797438","quoteVolume":"7587.31177364","isFrozen":"0","high24hr":"0.00004313","low24hr":"0.00003968"},"BTC_GNT":{"id":185,"last":"0.00000583","lowestAsk":"0.00000582","highestBid":"0.00000580","percentChange":"-0.03953871","baseVolume":"0.48596131","quoteVolume":"82383.65696973","isFrozen":"0","high24hr":"0.00000610","low24hr":"0.00000580"},"BTC_ZRX":{"id":192,"last":"0.00003817","lowestAsk":"0.00003827","highestBid":"0.00003812","percentChange":"0.00315374","baseVolume":"1.37619896","quoteVolume":"35484.33779820","isFrozen":"0","high24hr":"0.00004066","low24hr":"0.00003752"},"ETH_ZRX":{"id":193,"last":"0.00152677","lowestAsk":"0.00154751","highestBid":"0.00153653","percentChange":"0.00352304","baseVolume":"6.67759571","quoteVolume":"4295.06219778","isFrozen":"0","high24hr":"0.00162326","low24hr":"0.00150000"},"BTC_CVC":{"id":194,"last":"0.00000334","lowestAsk":"0.00000335","highestBid":"0.00000333","percentChange":"0.03086419","baseVolume":"1.25401768","quoteVolume":"379176.79178071","isFrozen":"0","high24hr":"0.00000349","low24hr":"0.00000317"},"BTC_OMG":{"id":196,"last":"0.00016681","lowestAsk":"0.00016680","highestBid":"0.00016611","percentChange":"-0.02198639","baseVolume":"0.49018435","quoteVolume":"2925.15604477","isFrozen":"0","high24hr":"0.00017125","low24hr":"0.00016327"},"BTC_GAS":{"id":198,"last":"0.00018097","lowestAsk":"0.00018162","highestBid":"0.00017968","percentChange":"-0.00718674","baseVolume":"0.41990202","quoteVolume":"2260.13473417","isFrozen":"0","high24hr":"0.00019268","low24hr":"0.00018000"},"BTC_STORJ":{"id":200,"last":"0.00001639","lowestAsk":"0.00001639","highestBid":"0.00001615","percentChange":"0.02182044","baseVolume":"0.34277519","quoteVolume":"20870.47640914","isFrozen":"0","high24hr":"0.00001700","low24hr":"0.00001594"},"BTC_EOS":{"id":201,"last":"0.00027388","lowestAsk":"0.00027445","highestBid":"0.00027380","percentChange":"-0.00407272","baseVolume":"0.39960871","quoteVolume":"1463.17313473","isFrozen":"0","high24hr":"0.00027463","low24hr":"0.00027124"},"ETH_EOS":{"id":202,"last":"0.01102528","lowestAsk":"0.01110358","highestBid":"0.01099561","percentChange":"0.01585710","baseVolume":"0.10460792","quoteVolume":"9.56184638","isFrozen":"0","high24hr":"0.01107776","low24hr":"0.01084550"},"USDT_EOS":{"id":203,"last":"2.56184069","lowestAsk":"2.56279505","highestBid":"2.55971326","percentChange":"-0.01353038","baseVolume":"16854.50143990","quoteVolume":"6556.17235385","isFrozen":"0","high24hr":"2.59697881","low24hr":"2.53228820"},"BTC_SNT":{"id":204,"last":"0.00000266","lowestAsk":"0.00000274","highestBid":"0.00000270","percentChange":"-0.03272727","baseVolume":"1.35865288","quoteVolume":"505508.63269260","isFrozen":"0","high24hr":"0.00000281","low24hr":"0.00000266"},"BTC_KNC":{"id":207,"last":"0.00013005","lowestAsk":"0.00013005","highestBid":"0.00012497","percentChange":"0.02136181","baseVolume":"3.25888471","quoteVolume":"26775.01356814","isFrozen":"0","high24hr":"0.00013425","low24hr":"0.00011947"},"BTC_BAT":{"id":210,"last":"0.00002394","lowestAsk":"0.00002387","highestBid":"0.00002384","percentChange":"-0.02801461","baseVolume":"0.68330698","quoteVolume":"28363.03246640","isFrozen":"0","high24hr":"0.00002522","low24hr":"0.00002385"},"ETH_BAT":{"id":211,"last":"0.00096564","lowestAsk":"0.00096684","highestBid":"0.00096101","percentChange":"-0.01445192","baseVolume":"23.60802564","quoteVolume":"23917.88241836","isFrozen":"0","high24hr":"0.00100000","low24hr":"0.00096564"},"USDT_BAT":{"id":212,"last":"0.22277978","lowestAsk":"0.22313845","highestBid":"0.22243173","percentChange":"-0.04688856","baseVolume":"2826.50661522","quoteVolume":"12267.76535488","isFrozen":"0","high24hr":"0.23930351","low24hr":"0.22277978"},"BTC_LOOM":{"id":213,"last":"0.00000210","lowestAsk":"0.00000210","highestBid":"0.00000209","percentChange":"-0.01869158","baseVolume":"0.20882754","quoteVolume":"95679.03392758","isFrozen":"0","high24hr":"0.00000226","low24hr":"0.00000210"},"USDT_DOGE":{"id":216,"last":"0.00248060","lowestAsk":"0.00249000","highestBid":"0.00248060","percentChange":"-0.01758415","baseVolume":"1046.04886739","quoteVolume":"419074.44875478","isFrozen":"0","high24hr":"0.00252921","low24hr":"0.00248060"},"USDT_GNT":{"id":217,"last":"0.05430000","lowestAsk":"0.05474537","highestBid":"0.05398983","percentChange":"-0.04386140","baseVolume":"376.53766883","quoteVolume":"6658.61792107","isFrozen":"0","high24hr":"0.05679093","low24hr":"0.05430000"},"USDT_LSK":{"id":218,"last":"1.20787067","lowestAsk":"1.21787066","highestBid":"1.17256339","percentChange":"-0.02826172","baseVolume":"1891.74922014","quoteVolume":"1618.55396645","isFrozen":"0","high24hr":"1.25300000","low24hr":"1.14000000"},"USDT_SC":{"id":219,"last":"0.00305459","lowestAsk":"0.00305433","highestBid":"0.00293095","percentChange":"-0.03998654","baseVolume":"31733.25513170","quoteVolume":"10012971.31803881","isFrozen":"0","high24hr":"0.00335000","low24hr":"0.00286100"},"USDT_ZRX":{"id":220,"last":"0.35614995","lowestAsk":"0.35863784","highestBid":"0.35621173","percentChange":"-0.01637958","baseVolume":"17265.54195567","quoteVolume":"46827.66166037","isFrozen":"0","high24hr":"0.38584360","low24hr":"0.35230132"},"BTC_QTUM":{"id":221,"last":"0.00018364","lowestAsk":"0.00018371","highestBid":"0.00018323","percentChange":"-0.01744248","baseVolume":"0.22851928","quoteVolume":"1228.66035620","isFrozen":"0","high24hr":"0.00018774","low24hr":"0.00018281"},"USDT_QTUM":{"id":223,"last":"1.71537896","lowestAsk":"1.71770061","highestBid":"1.71297897","percentChange":"-0.03051372","baseVolume":"7227.45094053","quoteVolume":"4162.81078912","isFrozen":"0","high24hr":"1.76936900","low24hr":"1.70740206"},"USDC_BTC":{"id":224,"last":"9335.66049646","lowestAsk":"9337.38680592","highestBid":"9333.93418701","percentChange":"-0.01259266","baseVolume":"1134351.63658428","quoteVolume":"120.96661518","isFrozen":"0","high24hr":"9466.21736933","low24hr":"9235.74630000"},"USDC_ETH":{"id":225,"last":"231.39531715","lowestAsk":"231.53553429","highestBid":"231.25510001","percentChange":"-0.02640029","baseVolume":"266196.41522358","quoteVolume":"1134.66509480","isFrozen":"0","high24hr":"238.63850000","low24hr":"230.00000000"},"USDC_USDT":{"id":226,"last":"0.99940001","lowestAsk":"0.99940001","highestBid":"0.99940000","percentChange":"-0.00040007","baseVolume":"15476.73076278","quoteVolume":"15483.52813610","isFrozen":"0","high24hr":"0.99980000","low24hr":"0.99940000"},"BTC_MANA":{"id":229,"last":"0.00000441","lowestAsk":"0.00000453","highestBid":"0.00000440","percentChange":"-0.03501094","baseVolume":"0.15751625","quoteVolume":"35069.44303830","isFrozen":"0","high24hr":"0.00000464","low24hr":"0.00000437"},"USDT_MANA":{"id":231,"last":"0.04178311","lowestAsk":"0.04257000","highestBid":"0.04072408","percentChange":"-0.01848461","baseVolume":"9.15640983","quoteVolume":"212.17070100","isFrozen":"0","high24hr":"0.04377032","low24hr":"0.04164000"},"BTC_BNT":{"id":232,"last":"0.00008800","lowestAsk":"0.00009081","highestBid":"0.00008635","percentChange":"0.01219231","baseVolume":"0.91015284","quoteVolume":"10242.81673331","isFrozen":"0","high24hr":"0.00009500","low24hr":"0.00008800"},"BTC_BCHABC":{"id":236,"last":"0.02535503","lowestAsk":"0.02537113","highestBid":"0.02535501","percentChange":"-0.00143670","baseVolume":"6.71641595","quoteVolume":"265.32162654","isFrozen":"0","high24hr":"0.02553168","low24hr":"0.02519393"},"USDC_BCHABC":{"id":237,"last":"237.66123258","lowestAsk":"237.03528173","highestBid":"236.62318066","percentChange":"-0.00574504","baseVolume":"1320.53321333","quoteVolume":"5.55410146","isFrozen":"0","high24hr":"240.21764156","low24hr":"235.95123588"},"BTC_BCHSV":{"id":238,"last":"0.01916444","lowestAsk":"0.01913572","highestBid":"0.01910579","percentChange":"-0.00483860","baseVolume":"2.18443188","quoteVolume":"113.94238232","isFrozen":"0","high24hr":"0.01940316","low24hr":"0.01904943"},"USDC_BCHSV":{"id":239,"last":"178.92089067","lowestAsk":"178.87536971","highestBid":"178.29064596","percentChange":"-0.01408589","baseVolume":"36532.99972072","quoteVolume":"203.85461944","isFrozen":"0","high24hr":"182.49788674","low24hr":"177.48952354"},"USDC_XRP":{"id":240,"last":"0.18979057","lowestAsk":"0.18986241","highestBid":"0.18951009","percentChange":"-0.01080749","baseVolume":"1947.57926482","quoteVolume":"10202.38978870","isFrozen":"0","high24hr":"0.19186414","low24hr":"0.18883827"},"USDC_XMR":{"id":241,"last":"65.60161255","lowestAsk":"65.64346934","highestBid":"65.48137860","percentChange":"-0.00798053","baseVolume":"985.31733977","quoteVolume":"15.05943850","isFrozen":"0","high24hr":"66.12936045","low24hr":"64.64831319"},"USDC_STR":{"id":242,"last":"0.07055270","lowestAsk":"0.07052339","highestBid":"0.07024480","percentChange":"-0.03924221","baseVolume":"2137.52362775","quoteVolume":"29798.29692512","isFrozen":"0","high24hr":"0.07343443","low24hr":"0.07055270"},"USDC_DOGE":{"id":243,"last":"0.00253105","lowestAsk":"0.00250855","highestBid":"0.00246150","percentChange":"0.02737029","baseVolume":"3.55132655","quoteVolume":"1399.55691596","isFrozen":"0","high24hr":"0.00254417","low24hr":"0.00253105"},"USDC_LTC":{"id":244,"last":"43.76018854","lowestAsk":"43.85491796","highestBid":"43.77784473","percentChange":"-0.02136074","baseVolume":"10738.69171842","quoteVolume":"240.77674469","isFrozen":"0","high24hr":"44.75267302","low24hr":"43.59238002"},"USDC_ZEC":{"id":245,"last":"51.10458141","lowestAsk":"50.89475013","highestBid":"50.77764354","percentChange":"-0.02767051","baseVolume":"8809.22141041","quoteVolume":"172.73320320","isFrozen":"0","high24hr":"52.37032581","low24hr":"50.61333668"},"BTC_FOAM":{"id":246,"last":"0.00000165","lowestAsk":"0.00000169","highestBid":"0.00000165","percentChange":"-0.06779661","baseVolume":"1.03636442","quoteVolume":"641699.52443078","isFrozen":"0","high24hr":"0.00000185","low24hr":"0.00000151"},"BTC_NMR":{"id":248,"last":"0.00273939","lowestAsk":"0.00277551","highestBid":"0.00273926","percentChange":"0.02489860","baseVolume":"0.02144749","quoteVolume":"7.87887427","isFrozen":"0","high24hr":"0.00277551","low24hr":"0.00268838"},"BTC_POLY":{"id":249,"last":"0.00000513","lowestAsk":"0.00000514","highestBid":"0.00000509","percentChange":"-0.07233273","baseVolume":"0.28474417","quoteVolume":"55081.07200149","isFrozen":"0","high24hr":"0.00000549","low24hr":"0.00000496"},"BTC_LPT":{"id":250,"last":"0.00038550","lowestAsk":"0.00041173","highestBid":"0.00038502","percentChange":"-0.09294117","baseVolume":"2.41908410","quoteVolume":"6247.43194240","isFrozen":"0","high24hr":"0.00042491","low24hr":"0.00035359"},"BTC_GRIN":{"id":251,"last":"0.00006457","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":"0.00000000","baseVolume":"0.00000000","quoteVolume":"0.00000000","isFrozen":"0","high24hr":"0.00000000","low24hr":"0.00000000"},"USDC_GRIN":{"id":252,"last":"0.47561230","lowestAsk":"0.49105170","highestBid":"0.47561234","percentChange":"-0.03305755","baseVolume":"246.50859512","quoteVolume":"503.17270882","isFrozen":"0","high24hr":"0.50565652","low24hr":"0.47555931"},"BTC_ATOM":{"id":253,"last":"0.00029464","lowestAsk":"0.00029557","highestBid":"0.00029483","percentChange":"-0.02803984","baseVolume":"1.72203726","quoteVolume":"5757.44019849","isFrozen":"0","high24hr":"0.00030396","low24hr":"0.00029410"},"USDC_ATOM":{"id":254,"last":"2.72613241","lowestAsk":"2.79483602","highestBid":"2.74866569","percentChange":"-0.04876902","baseVolume":"1786.84637447","quoteVolume":"635.83364459","isFrozen":"0","high24hr":"2.91018072","low24hr":"2.72613241"},"USDT_ATOM":{"id":255,"last":"2.76253549","lowestAsk":"2.77571047","highestBid":"2.76253549","percentChange":"-0.03612458","baseVolume":"12792.14952087","quoteVolume":"4558.98566414","isFrozen":"0","high24hr":"2.87218059","low24hr":"2.72637044"},"USDC_DASH":{"id":256,"last":"72.67350987","lowestAsk":"72.73919931","highestBid":"72.11439172","percentChange":"-0.01593600","baseVolume":"593.29077469","quoteVolume":"8.13390993","isFrozen":"0","high24hr":"73.98903598","low24hr":"72.09212179"},"USDC_EOS":{"id":257,"last":"2.56399398","lowestAsk":"2.56253314","highestBid":"2.55703545","percentChange":"-0.00592824","baseVolume":"403.95988608","quoteVolume":"157.87043211","isFrozen":"0","high24hr":"2.57928461","low24hr":"2.54133066"},"USDC_ETC":{"id":258,"last":"6.33315784","lowestAsk":"6.30436668","highestBid":"6.27785936","percentChange":"-0.01622466","baseVolume":"363.68595817","quoteVolume":"57.11661200","isFrozen":"0","high24hr":"6.46741338","low24hr":"6.33315784"},"USDT_BCHSV":{"id":259,"last":"179.30000000","lowestAsk":"179.03117197","highestBid":"178.23626813","percentChange":"-0.01483516","baseVolume":"15924.22441243","quoteVolume":"88.53767442","isFrozen":"0","high24hr":"182.00000000","low24hr":"177.52016887"},"USDT_BCHABC":{"id":260,"last":"236.87876369","lowestAsk":"237.24805157","highestBid":"236.83485155","percentChange":"-0.01487099","baseVolume":"16170.99155241","quoteVolume":"67.85403240","isFrozen":"0","high24hr":"240.40195730","low24hr":"236.00000000"},"USDT_GRIN":{"id":261,"last":"0.48000000","lowestAsk":"0.48569645","highestBid":"0.48000011","percentChange":"-0.03604558","baseVolume":"2672.91525864","quoteVolume":"5445.03515198","isFrozen":"0","high24hr":"0.50067889","low24hr":"0.48000000"},"BTC_TRX":{"id":263,"last":"0.00000172","lowestAsk":"0.00000172","highestBid":"0.00000171","percentChange":"-0.02272727","baseVolume":"2.85885723","quoteVolume":"1645645.30748244","isFrozen":"0","high24hr":"0.00000176","low24hr":"0.00000172"},"USDC_TRX":{"id":264,"last":"0.01607475","lowestAsk":"0.01607201","highestBid":"0.01607200","percentChange":"-0.03268347","baseVolume":"2096.05638400","quoteVolume":"127742.49710539","isFrozen":"0","high24hr":"0.01666220","low24hr":"0.01607200"},"USDT_TRX":{"id":265,"last":"0.01604886","lowestAsk":"0.01604735","highestBid":"0.01601435","percentChange":"-0.03284463","baseVolume":"789670.99265656","quoteVolume":"48235118.25192166","isFrozen":"0","high24hr":"0.01665732","low24hr":"0.01600167"},"BTC_ETHBNT":{"id":266,"last":"0.00006918","lowestAsk":"0.00006922","highestBid":"0.00006707","percentChange":"0.00260869","baseVolume":"0.00489169","quoteVolume":"70.92074235","isFrozen":"0","high24hr":"0.00006918","low24hr":"0.00006503"},"TRX_ETH":{"id":267,"last":"14434.31137838","lowestAsk":"14498.90724725","highestBid":"14369.71550951","percentChange":"0.01162261","baseVolume":"453564.75526790","quoteVolume":"31.54124959","isFrozen":"0","high24hr":"14539.05076856","low24hr":"14262.63194046"},"TRX_XRP":{"id":268,"last":"11.83808506","lowestAsk":"11.90323642","highestBid":"11.77684845","percentChange":"0.02589840","baseVolume":"216078.04198650","quoteVolume":"18497.57347101","isFrozen":"0","high24hr":"11.83808506","low24hr":"11.53490134"},"USDT_BTT":{"id":270,"last":"0.00029895","lowestAsk":"0.00029926","highestBid":"0.00029865","percentChange":"-0.04108929","baseVolume":"137682.86568510","quoteVolume":"448848378.44690496","isFrozen":"0","high24hr":"0.00031298","low24hr":"0.00029895"},"TRX_BTT":{"id":271,"last":"0.01863209","lowestAsk":"0.01871871","highestBid":"0.01857996","percentChange":"-0.00330695","baseVolume":"301981.23639969","quoteVolume":"16018724.33499309","isFrozen":"0","high24hr":"0.01899644","low24hr":"0.01842577"},"USDT_WIN":{"id":272,"last":"0.00007886","lowestAsk":"0.00008304","highestBid":"0.00007888","percentChange":"-0.02461348","baseVolume":"657.68015919","quoteVolume":"8339465.43259350","isFrozen":"0","high24hr":"0.00008191","low24hr":"0.00007738"},"TRX_WIN":{"id":273,"last":"0.00498306","lowestAsk":"0.00498306","highestBid":"0.00476895","percentChange":"-0.00074597","baseVolume":"2724.64142397","quoteVolume":"550969.37372337","isFrozen":"0","high24hr":"0.00498678","low24hr":"0.00484080"},"TRX_STEEM":{"id":274,"last":"12.85000000","lowestAsk":"13.35000000","highestBid":"12.05000001","percentChange":"0.03047313","baseVolume":"123326.53464175","quoteVolume":"9679.57278994","isFrozen":"0","high24hr":"13.20000000","low24hr":"11.95000100"},"BTC_LINK":{"id":275,"last":"0.00042115","lowestAsk":"0.00042113","highestBid":"0.00041867","percentChange":"-0.02624277","baseVolume":"1.56753968","quoteVolume":"3636.68557401","isFrozen":"0","high24hr":"0.00043431","low24hr":"0.00041989"},"TRX_LINK":{"id":276,"last":"255.00476830","lowestAsk":"249.53453202","highestBid":"242.93219088","percentChange":"0.04527247","baseVolume":"4093.07653295","quoteVolume":"16.42420698","isFrozen":"0","high24hr":"255.00476830","low24hr":"245.00000000"},"BTC_XTZ":{"id":277,"last":"0.00027797","lowestAsk":"0.00027740","highestBid":"0.00027561","percentChange":"-0.02353602","baseVolume":"0.17021408","quoteVolume":"606.94797867","isFrozen":"0","high24hr":"0.00028490","low24hr":"0.00027737"},"USDT_XTZ":{"id":278,"last":"2.57511624","lowestAsk":"2.59072747","highestBid":"2.57972468","percentChange":"-0.04171526","baseVolume":"11798.46372986","quoteVolume":"4480.78844376","isFrozen":"0","high24hr":"2.67811030","low24hr":"2.56747440"},"TRX_XTZ":{"id":279,"last":"162.95080253","lowestAsk":"163.24918473","highestBid":"159.76194579","percentChange":"0.00319122","baseVolume":"5556.38073474","quoteVolume":"34.12061415","isFrozen":"0","high24hr":"163.04347732","low24hr":"161.39904149"},"USDT_BEAR":{"id":280,"last":"1.71558678","lowestAsk":"1.71101176","highestBid":"1.70484334","percentChange":"0.03592311","baseVolume":"189358.21568511","quoteVolume":"111465.83115823","isFrozen":"0","high24hr":"1.75707059","low24hr":"1.64658942"},"USDT_BULL":{"id":281,"last":"2838.79257886","lowestAsk":"2863.08775444","highestBid":"2853.54446099","percentChange":"-0.04243655","baseVolume":"317867.84620560","quoteVolume":"110.68992845","isFrozen":"0","high24hr":"2969.97625125","low24hr":"2758.83563946"},"USDT_TRXBEAR":{"id":282,"last":"5.21985308","lowestAsk":"5.22537706","highestBid":"5.16072715","percentChange":"0.11181159","baseVolume":"32752.51213550","quoteVolume":"6567.84172143","isFrozen":"0","high24hr":"5.21985308","low24hr":"4.68621646"},"USDT_TRXBULL":{"id":283,"last":"2.09006496","lowestAsk":"2.10418900","highestBid":"2.08000000","percentChange":"-0.11499085","baseVolume":"45336.73247439","quoteVolume":"20549.68906869","isFrozen":"0","high24hr":"2.36362309","low24hr":"2.08385117"},"PAX_BTC":{"id":284,"last":"9249.87058029","lowestAsk":"9367.57015097","highestBid":"9184.32873151","percentChange":"-0.02265684","baseVolume":"116.61517414","quoteVolume":"0.01247160","isFrozen":"0","high24hr":"9372.95120742","low24hr":"9249.87058029"},"PAX_ETH":{"id":285,"last":"235.62718372","lowestAsk":"242.70299309","highestBid":"230.97010359","percentChange":"-0.00455651","baseVolume":"191.35990471","quoteVolume":"0.81213000","isFrozen":"0","high24hr":"235.62718372","low24hr":"235.62718372"},"USDT_PAX":{"id":286,"last":"0.99987997","lowestAsk":"1.00007999","highestBid":"0.99985997","percentChange":"-0.00043994","baseVolume":"94.90882249","quoteVolume":"94.91157024","isFrozen":"0","high24hr":"1.00006001","low24hr":"0.99987997"},"USDT_USDJ":{"id":287,"last":"0.99999251","lowestAsk":"0.99999501","highestBid":"0.99999001","percentChange":"-0.00005248","baseVolume":"23136.04199006","quoteVolume":"23134.90958272","isFrozen":"0","high24hr":"1.00010000","low24hr":"0.99999000"},"USDJ_BTC":{"id":288,"last":"9351.11532111","lowestAsk":"9388.56739994","highestBid":"9313.66324230","percentChange":"-0.01161263","baseVolume":"12656.94469654","quoteVolume":"1.34501813","isFrozen":"0","high24hr":"9478.66994388","low24hr":"9128.77302254"},"USDJ_TRX":{"id":289,"last":"0.01602807","lowestAsk":"0.01622939","highestBid":"0.01582673","percentChange":"-0.03488559","baseVolume":"9082.64784121","quoteVolume":"554632.05102316","isFrozen":"0","high24hr":"0.01679978","low24hr":"0.01602807"},"BTC_SNX":{"id":290,"last":"0.00012349","lowestAsk":"0.00012366","highestBid":"0.00012232","percentChange":"0.01662962","baseVolume":"1.48427191","quoteVolume":"12152.45431504","isFrozen":"0","high24hr":"0.00012568","low24hr":"0.00011800"},"USDT_SNX":{"id":291,"last":"1.14274113","lowestAsk":"1.14957203","highestBid":"1.13400042","percentChange":"-0.00213145","baseVolume":"27834.12165907","quoteVolume":"24434.85296128","isFrozen":"0","high24hr":"1.19830902","low24hr":"1.10957047"},"TRX_SNX":{"id":292,"last":"69.22500000","lowestAsk":"72.23439360","highestBid":"70.64500000","percentChange":"-0.01515151","baseVolume":"23328.46873678","quoteVolume":"338.86117108","isFrozen":"0","high24hr":"71.00000000","low24hr":"68.16000000"},"USDT_BSVBEAR":{"id":293,"last":"0.67091836","lowestAsk":"0.66787181","highestBid":"0.66534927","percentChange":"0.06318981","baseVolume":"23245.90214823","quoteVolume":"36434.43417440","isFrozen":"0","high24hr":"0.67881807","low24hr":"0.62483005"},"USDT_BSVBULL":{"id":294,"last":"1.11702738","lowestAsk":"1.12671264","highestBid":"1.12271250","percentChange":"-0.06758248","baseVolume":"43947.84477457","quoteVolume":"38233.01792391","isFrozen":"0","high24hr":"1.20117088","low24hr":"1.09146377"},"BTC_MATIC":{"id":295,"last":"0.00000219","lowestAsk":"0.00000224","highestBid":"0.00000218","percentChange":"0.00000000","baseVolume":"0.56090950","quoteVolume":"251062.55858501","isFrozen":"0","high24hr":"0.00000227","low24hr":"0.00000215"},"USDT_MATIC":{"id":296,"last":"0.02050950","lowestAsk":"0.02066998","highestBid":"0.02035043","percentChange":"-0.00920289","baseVolume":"403.54140652","quoteVolume":"19367.29444475","isFrozen":"0","high24hr":"0.02143414","low24hr":"0.02040000"},"TRX_MATIC":{"id":297,"last":"1.32425844","lowestAsk":"1.32425896","highestBid":"1.22836068","percentChange":"0.00000000","baseVolume":"354.44760487","quoteVolume":"267.65742559","isFrozen":"0","high24hr":"1.32425844","low24hr":"1.32425844"},"USDT_BCHBEAR":{"id":298,"last":"54.98998032","lowestAsk":"54.94469937","highestBid":"54.74487279","percentChange":"0.04626601","baseVolume":"5462.93073328","quoteVolume":"100.00135090","isFrozen":
[...]
